<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Storyline Tracker</span>
            <button id="reset-button" class="mdl-button mdl-js-button mdl-js-ripple-effect
            mdl-button--accent mdl-button--raised" >Reset Data</button>
        </div>
    </header>
    <main class="mdl-layout__content">
        <section>
            <div class="page-content">
               <story-app></story-app>
            </div>
        </section>
    </main>
</div>